.content-section {
	margin: 20px;
	background-color: #999;
	padding: 1px 15px 15px 15px ;
}

#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}

#nav-list li {
	width: 100%;
	height: 40px;
	font-size: 1.3em;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	background-color: #f0f0f0;
	padding-top: 8px;
}

#nav-list li:nth-child(1) {
	border-top: 1px solid;
}

#nav-list li:hover {
	background-color: #d9d9d9;
}

#collapsable-menu {
	border: none;
}
